/* Global styles */
body {
  display: flex;/*undo user agent style aka. the display: block problem*/
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  font-size: 4vh;
  line-height: 1.5;
  background-color: #000000;
  color: #5a5454;
}

/* Header styles */
header {
  display: flex;
  background: url(../images/space.jpg);
  background-size: cover; /*This will stretch the image to cover the entire width of the div, even if it crops the top and bottom slightly.*/
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  color: #fff;
  padding: 1rem;
  border-radius: 20px;
  flex-basis: 100%;
  aspect-ratio: 2/1;
  justify-content: space-around;
  margin: 0.5rem;
}
h1 {
  display: flex;
  font-size: 4vh;
}

/*css property to hide things*/
.hidden {
  display: none;
}

.container {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  flex-basis: 100%;
  justify-content: space-evenly;/*got rid of purple space aka. blank space on dev view using this*/
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.tile {
  display: flex;
  background-color: #313f8f;
  padding: 20px;
  text-align: center;
  /* font-size: 24px; */
  border-radius: 1rem;
  margin: 0.1vh;
  flex-basis: 100%;
  aspect-ratio: 1 / 1;
}

#gallery {
  background:url(../images/kingdom\ hearts.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
}
img {
  width: 50vw;
  height: 50vh;
  object-fit: fill;
}
 @media screen {
  
 }