.backBlue {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #00171F;
}

.midBlue {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #003459; /* Set the background color of your choice */
  overflow: hidden;
}

.foreBlue {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #007EA7; /* Set the background color of your choice */
}

.accentBlue {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #00A8E8;
}

.makeItWhite {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #FFFFFF;
}

.pageContent {
  min-height: 500px;
  height: 100%;
  width: 100%;
  padding: 5%;
}

.aboutList {
  color: white;
  display: flex;
  list-style-type: square;
  list-style-position: inside;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

/* OpenAi Page Style */
.accentBlue.heading > h1{
  padding: 10px;
}

.heading p {
  color: white;
}