/* Tile.css, https://css-tricks.com/a-grid-of-logos-in-squares/ */
.tile-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto auto;
  grid-gap: 20px;
  padding-left: calc(10% + 10px);
  padding-right: calc(10% + 10px);
  padding-top: calc(5% + 10px);
  padding-bottom: calc(5% + 10px);
}

/*Affects the first nested div inside .tile*/
.tile > div {
  color: #000;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  aspect-ratio: 1/1;
}
  

/* Affects the div before img in the carousel */
.galleryLink {
  height: 100%;
}


img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

/* div.tile.midBlue { /*starts in the first column, spans 2 columns
  display: grid;
  grid-row: 1/ 2;
  grid-column: 1/-1;
  aspect-ratio: 2/1;
  box-sizing: border-box;
} */

.carousel-root{
  min-height: 100%;
  order: -1;
  background: rgb(126, 7, 7);
}
